.footer {
   background: #F5F5FA;
   margin-top: -30px;
   padding-top: 30px;

   &__adress {
      text-align: center;
      display: flex;
      flex-direction: column;
      border-top: 2px solid #E6E6F0;
      padding-top: 30px;
      padding-bottom: 20px;

      &-link {
         font-size: 16px;
         line-height: 20px;
         color: #323264;
         padding-bottom: 10px;

         &:hover {
            opacity: 0.6;
         }
      }

      &-onmap {
         font-weight: 700;
         font-size: 12px;
         line-height: 15px;
         letter-spacing: 1px;
         text-transform: uppercase;
         color: #24A3FF;

         &:hover {
            opacity: 0.6;
         }
      }
   }

   &__social {
      text-align: center;
      display: flex;
      flex-direction: column;

      &-tell {
         font-weight: 700;
         font-size: 16px;
         line-height: 20px;
         color: #46466E;
         padding: 10px 0;

         &:hover {
            color: #F0145A;
         }
      }

      &-email {
         font-weight: 700;
         font-size: 16px;
         line-height: 20px;
         color: #24A3FF;

         &:hover {
            color: #F0145A;
         }
      }

      &-fb:hover path {
         fill: #F0145A;
      }
   }

   &__copyright {
      font-size: 16px;
      line-height: 20px;
      color: #B3B3BA;
      padding: 30px 0;
      text-align: center;
   }
}

@media screen and (min-width: 767px) {
   .footer {
      padding-top: 60px;
      padding-bottom: 30px;

      &__wrap {
         display: grid;
         grid-template-columns: repeat(2, 1fr);
         grid-template-rows: repeat(2, min-content);
         border-top: 2px solid #E6E6F0;
         padding-top: 30px;
      }

      &__copyright {
         grid-row: 1/2;
         grid-column: 2/3;
         text-align: right;
         padding: 0;
      }

      &__social {
         grid-column: span 2;
         text-align: left;
         align-items: center;
         flex-direction: row;
         position: relative;
         margin-top: 20px;

         &-tell {
            padding: 0 18px;

            &::before {
               content: '';
               width: 6px;
               height: 6px;
               background: #B3B3BA;
               border-radius: 50%;
               position: absolute;
               top: 40%;
               left: 45px;
            }

            &::after {
               content: '';
               width: 6px;
               height: 6px;
               background: #B3B3BA;
               border-radius: 50%;
               position: absolute;
               top: 40%;
               left: 166px;
            }
         }
      }

      &__adress {
         flex-direction: row;
         align-items: center;
         padding: 0;
         border: none;
         position: relative;

         &-link {
            padding: 0 18px 0 0;

            &::after {
               content: '';
               width: 6px;
               height: 6px;
               background: #B3B3BA;
               border-radius: 50%;
               position: absolute;
               top: 38%;
               left: 202px;
            }
         }
      }
   }
}