.grad {
   background: url(../img/main/bg-h_mobile.png) no-repeat center top,
      linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
   border-radius: 0px 0px 12px 12px;
   background-size: 523px 600px, cover;


}

@media screen and (min-width: 767px) {
   .grad {
      background: url(../img/main/bg-h_tablet_sd.png) no-repeat center top,
         linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
      border-radius: 0px 0px 12px 12px;
      background-size: 893px 1024px, cover;
   }

}

@media screen and (min-width: 1024px) {
   .grad {
      background: url(../img/main/bg-h_tablet_hd.png) no-repeat center top,
         linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
      border-radius: 0px 0px 12px 12px;
      background-size: 670px 768px, cover;
   }

}