.header-white {

   &__top {
      background: #F5F5FA;
   }

   &__lang-item {
      color: #B3B3BA;

      &:hover {
         background: #F5F5FA;
      }

      &.en-red {
         color: #FFFFFF;
      }
   }

   &__tel {
      color: #B3B3BA;
   }

   &__address {
      &-link {
         color: #B3B3BA;
      }
   }

   &__near-logo {
      color: #323264;
   }
}

@media screen and (min-width: 767px) {
   .header-white {
      &__top {
         background: transparent;
      }
   }
}