.idea {
   &__skroll {
      padding-bottom: 30px;
      border-bottom: 4px solid rgba(255, 255, 255, 0.3);
      overflow: hidden;
      white-space: nowrap;
      margin-right: -30px;

      &-item {
         font-weight: 700;
         font-size: 38px;
         line-height: 46px;
         text-align: right;
         color: #B3B3BA;
         margin-right: 30px;

         &:hover {
            opacity: 0.6;
         }
      }

   }

   &__title {
      font-weight: 700;
      font-size: 20px;
      line-height: 24px;
      color: #FFFFFF;
      padding: 30px 0;
   }

   &__text {
      font-size: 19px;
      line-height: 30px;
      color: #FFFFFF;
   }
}

@media screen and (min-width: 767px) {
   .idea {
      &__title {
         padding-top: 60px;
      }

      &__skroll {
         margin-right: -60px;
      }
   }
}

@media screen and (min-width: 1024px) {
   .idea {
      &__wrap {
         display: flex;
         justify-content: space-between;
      }

      &__skroll {
         border: none;
         border-right: 4px solid rgba(255, 255, 255, 0.3);
         width: 50%;
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         padding-right: 60px;

         &-item {
            margin-right: 0;
         }
      }

      &__title-box {
         width: 50%;
         padding-left: 60px;
      }
   }
}