.near-logo {
   font-size: 20px;
   line-height: 24px;
   color: #FFFFFF;
   position: relative;
   padding-left: 20px;

   &:before {
      content: "";
      width: 12px;
      height: 26px;
      background-image: url(../img/main/slash-mob.png);
      background-position: center;
      position: absolute;
      left: 4px;
      top: 0;
   }
}

@media screen and (min-width: 767px) {
   .near-logo {
      font-size: 36px;
      line-height: 44px;
      padding-left: 30px;

      &:before {
         content: "";
         width: 21px;
         height: 47px;
         background-image: url(../img/main/slash.png);
         background-position: center;
         position: absolute;
         left: 4px;
         top: 0;
      }
   }
}