.publications {
   background: #F5F5FA;

   &__link {
      padding-top: 30px;
      padding-bottom: 5px;
   }

   &__title {
      font-weight: 700;
      font-size: 30px;
      line-height: 37px;
      padding-bottom: 30px;
   }

   &__card {
      background: #FFFFFF;
      border-radius: 8px;
      margin-bottom: 30px;

      &-img {
         &-item {
            width: 100%;
            height: 200px;
         }
      }

      &-description {
         padding: 30px;

         &-title {
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;
            color: #24A3FF;
         }

         &-date {
            font-weight: 700;
            font-size: 12px;
            line-height: 15px;
            letter-spacing: 1px;
            text-transform: uppercase;
            color: #B3B3BA;
            padding-top: 15px;
            padding-bottom: 15px;
            border-bottom: 4px solid #E6E6F0;

         }

         &-text {
            font-size: 14px;
            line-height: 22px;
            color: #000000;
            padding-top: 15px;
         }
      }
   }
}

@media screen and (min-width: 767px) {
   .publications {
      &__link {
         padding-bottom: 10px;
      }

      &__card {
         margin-bottom: 0;
      }

      &__card-wrap {
         display: grid;
         grid-template-columns: repeat(2, 1fr);
         grid-template-rows: repeat(2, 1fr);
         gap: 30px;
      }

      &__card-tabletSd {
         grid-column: span 2;
      }
   }
}

@media screen and (min-width: 1024px) {
   .publications {
      &__card-wrap {
         display: flex;
      }

      &__card {
         width: 33.333%;
      }
   }
}