.slider {
   padding-top: 50px;

   &__card {
      margin-bottom: 30px;
      background: #F5F5FA;
      border-radius: 12px;
   }

   &__description {
      padding: 0 30px;


      &-text {
         font-weight: 700;
         font-size: 30px;
         line-height: 37px;
      }

      &-name {
         font-weight: 700;
         font-size: 16px;
         line-height: 20px;
         color: #B3B3BA;
         padding: 30px 0 5px;
      }

      &-job {
         font-size: 14px;
         line-height: 22px;
         color: #B3B3BA;
         padding-bottom: 30px;
      }
   }
}

@media screen and (min-width: 767px) {
   .slider {
      padding-top: 110px;

      &__description {
         &-text {
            font-size: 38px;
            line-height: 46px;
         }
      }

      &__card {
         max-width: 650px;
         margin-left: auto;
         margin-right: auto;
      }
   }
}

@media screen and (min-width: 1024px) {
   .slider {
      &__card {
         display: flex;
         max-width: fit-content;
         margin-left: 0;
         margin-right: 0;
      }

      &__description {
         width: 55.752%;
      }
   }
}

@media screen and (min-width: 1440px) {
   .slider {

      &__description {
         width: 69%;

         &-job {
            padding: 0;
         }
      }
   }
}