.slider-dots {
   display: flex;
   justify-content: center;

   &__item {
      background: #24A3FF;
      opacity: 0.2;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      margin-right: 15px;

      &:hover {
         opacity: 0.6;
      }

      &-active {
         opacity: 1;
      }
   }
}