@import 'variables';
@import 'fonts';
@import 'normalize';
@import 'start';
@import 'gradientRedTextColor';
@import 'title-link';
@import 'grad';
@import 'header';
@import 'menu';
@import 'logo';
@import 'legal';
@import 'idea';
@import 'advantage';
@import 'slider';
@import 'slider-dots';
@import 'trust';
@import 'displayNone';
@import 'publications';
@import 'footer';
@import 'en-red';
@import 'grad-notMain';
@import 'active';
@import 'paddingTop-80';
@import 'near-logo';
@import 'e-commerce-card';
@import 'btn-blue';
@import 'area';
@import 'border-radius-top';